<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Category
            <small>Add Category</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard#/userList"><i class="fa fa-dashboard"></i> Category</a></li>
            <li class="active">Add Category</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-11">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Category</h3>
                    </div>
                        <div class="form-group">
                        <div class="alert alert-success" ng-show="message">
                            <strong ng-bind="message" ></strong> 
                        </div>
                    </div>
                    <form method="post"  ng-submit="addPost(post)">
                        <div class="box-body">
                            <div class='col-lg-8'>
                                <div class='form-group'>
                                    <label for="exampleInputPassword1">Category</label>
                                    <input type='text' placeholder='Title' ng-model='post.title' required="" name='title' class='form-control'>
                                </div>
                            </div>
                         
                        
                            <div class="col-lg-8">
                                <input type="submit" value="Add Category" name="submit" class="btn btn-success pull-left update" >                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>