<div class="sign_in" ng-controller="forgotpasswordCtrl">
	<div class="container">
    	<div class="row"> 
            <div class="form-group ">
               <p ng-show="message" class="alert alert-success">{{message}}</p>
             </div>
        <div class="signin_heading">
            <h3>Forgot Password</h3>
            <p>Enter details to forgot password </p>
            	</div>
            
        	<div class="col-sm-offset-4 col-sm-4">
                    <form method="post" ng-submit="forgotpass(user)">
  <div class="form-group">
    <input type="email" class="form-control ctrl_fm1" ng-model='user.email' name='email' id="email" placeholder="Your email address">
  </div>
 
  <button type="submit" class="btn btn-default sub_falt">Submit</button>
</form> 
    

          </div>
    	</div>
	</div>
  </div>