
<section class="content-header" >
  
    <h1>Bookings</h1>

    <ol class="breadcrumb">
        <li><a href="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bookings</li>
    </ol>
    
   
</section>
<!--    <div class="form-group">
        <div class="alert alert-success" ng-show="del">  
            <strong ng-bind="del" ></strong> 
        </div>
    </div>-->
    <!-- Main content -->

     <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" >
                        <h3 class="box-title">Sub Category List</h3>
                    </div>
                     
                    <div class="box-body">
                        <table id="payment" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Sr. no</th>
                                    <th scope="col">user</th>
                                    <th scope="col">category</th>
                                    <th scope="col">category name</th>
                                    <th scope="col">subcategory</th> 
                                    <th scope="col">price</th>
                                    <th scope="col">image</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>   
                            <tbody>

                                <tr ng-repeat='pmt in payment track by $index'>
                                    <td ng-class="{{pmt._id}}">{{$index + 1}}</td>                                              
                                    <td ng-class="{{pmt._id}}">{{pmt.userid}}</td>
                                    <td ng-class="'{{pmt._id}}'">{{pmt.category}}</td>
                                    <td ng-class="'{{pmt._id}}'">{{pmt.category_name}}</td>
                                    <td ng-class="'{{pmt._id}}'">{{pmt.subcategoryid}}</td>
                                    <td ng-class="'{{pmt._id}}'">{{pmt.price}}</td>
                                    <td ng-class="'{{pmt._id}}'"><img style="width: 60px;" src="{{pmt.image}}"></td>
                                    <td ng-class="'{{pmt._id}}'">{{pmt.created_at}}</td> 
                                </tr>                                
                            </tbody> 
                        </table>
                    </div>                        
              
            </div>
            
        </div>
        <!-- /.row -->
  
