<div class="content-wrapper" ng-controller="AllUsersCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Users</a></li>
            <li class="active">Users List</li>
        </ol>
    </section>
    <div class="form-group">
        <div class="alert alert-success" ng-show="del">
            <strong ng-bind="del">{{del}}</strong> 
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">



                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Users List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sr. no</th>                                    
                                    <th>Email</th>
                                    <th>Username</th>
                                    <!--<th>Last Name</th>-->
                                    <th>Created</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="user in users track by $index | orderBy:'-created_at'">
                                    <td ng-class="'{{user._id}}'">{{$index + 1}}</td>                                              
                                    <td ng-class="'{{user._id}}'">{{user.email}}</td>
                                    <td ng-class="'{{user._id}}'">{{user.username}}</td>                                   
                                    <!--<td ng-class="'{{user._id}}'">{{user.lastname}}</td>-->
                                    <td ng-class="'{{user._id}}'">{{user.created_at | date}}</td>     
                                    <td ng-class="'{{user._id}}'">
                                        <a ui-sref="editUser({paraml:user._id})">
                                            <i class="fa fa-edit"></i>Edit</a></td>  

                                            <!--<td ng-class="'{{user._id}}'" ng-click='setActive(user)' style="cursor: pointer">-->
                                            <td ng-click='setActive(user)' style="cursor: pointer">

                                        View</td> 
                                    <td ng-click="deleteUser(user._id)" ng-class="'{{user._id}}'" ng-show="{{user.role!='admin'}}" style="cursor: pointer">

                                        Delete</td>       
                                </tr>                                
                            </tbody>
                            
                            
        <div class="row">
            <div class="col-sm-3">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{vm.pager.startIndex+1}} to {{vm.pager.endIndex+1}} of {{vm.pager.totalItems}} entries</div>
            </div>
            <div class="col-sm-9">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    <ul ng-if="vm.pager.pages.length" class="pagination" ng-include='"/admin/templates/element/pagination.html"'>            
                    </ul>
                </div>
            </div>
        </div>
                            <tfoot ng-show="active">
                                <tr>
                                    <th>Sr. no</th>                                    
                                    <th>Email</th>
                                    <th>Username</th>
                                    <!--<th>Last Name</th>-->
                                    <th>Created</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class='col-sm-8 full-height'>
                        <div ng-show="activeUser.email">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Single data</h3>


                                        </div>
                                         <!--/.box-header--> 
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Fields</th>
                                                    <th>Data</th>

                                                </tr>
                                                <tr>
                                                    <td>Username</td>
                                                    <td>{{activeUser.username}}</td>
                                                </tr>
                                                <!--<tr>-->
                                                    <!--<td>last Name</td>-->
                                                    <!--<td>{{activeUser.lastname}}</td>-->
                                                <!--</tr>-->
                                                <tr>
                                                    <td>Email</td>
                                                    <td>{{activeUser.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Profile Pic</td>
                                                    <td>
                                                        <img ng-src="{{activeUser.image}}" id="photo-id"  width="150px" height="100px"/>
                                                    
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Contact No</td>
                                                    <td>{{activeUser.phone}}</td>
                                                </tr>
<!--                                                <tr>
                                                    <td>DOB</td>
                                                    <td>{{activeUser.dob | date}}</td>
                                                </tr>-->
<!--                                                <tr>
                                                    <td>Status</td>
                                                    <td>{{activeUser.status==1 ? "Activate" : "DeActivate"  }}</td>
                                                </tr>-->
                                                <tr>
                                                    <td>Role</td>
                                                    <td>{{activeUser.role}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                         <!--/.box-body--> 
                                    </div>
                                     <!--/.box--> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
