<div class="account_billing">
    <div class="container">
        <div class="row">
            <div class="edit">
                <div class="col-sm-12">
                    <h3 class="account-txt">Your  Order Payment Status</h3>
                </div>
            </div>
        </div>
        <div class="grid-acnt">
            <div class="row">
                <div class="account-page">
                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Transaction id :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.transactionid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Plan id :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.planid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Plan Name :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.planname}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Plan Price :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">User id :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.userid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Status :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-6">
                                <label class="usr_nm">Payment Method :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.paymentmethod}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       </div>
    </div>   