

<!------sign_in-form--------->
<div class="sign_in chnge-psd">
	<div class="container">
    	<div class="row">
            <div class="form-group ">
               <p ng-show="message" class="alert alert-success">{{message}}</p>
               <p ng-show="errormsg" class="alert alert-success">{{errormsg}}</p>
             </div>
        <div class="signin_heading">
            <h3>Change Password</h3>
            <P>Enter details to change password </P>
            	</div>
        	<div class="col-sm-offset-4 col-sm-4">
       
       
      <form method="post" ng-submit="changepass(user)">
  <div class="form-group">
    <input type="password" class="form-control ctrl_fm1" ng-model='user.password' name='password' id="pwd" placeholder="Old Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control ctrl_fm1" ng-model='user.newpassword' name='newpassword' id="npwd" placeholder="New Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control ctrl_fm1" ng-model='user.cpassword' name='cpassword' id="cpwd" placeholder="Confirm Password">
  </div>        
  <button type="submit" class="btn btn-default sub_falt">Submit</button>
</form> 
     </div>
    	</div>
	</div>
  </div>

  	