<div class="epi_bner">
 	<img src="/home/img/epi_bner.jpg">
    <div class="bner_uper">
<!--    <div class="image_sode">
    <img src="/home/img/mve_pic2.jpg">
    <div class="layer_episde">
    	</div>
    	</div>-->
        <div style="position:absolute;top:100px;left:360px;width:480px;height:120px;z-index:0;">
                <h4 class="sial_des">Build your slider with anything, includes image, content</h4>
                <p class="avail_srial">All Episodes</p>
                <p class="avail_srial">Available Now</p></div>
    	</div>
 	</div>
<!--------tv-end--------------->

<!----------tv_div-section------------->

<div class="movies_section sclt_mvie">
	<div class="container">
    <div class="row">
    	<div class="col-sm-12">
         <div class="head_tv">
             <select ng-model="score"   ng-change="viewseason(score)" ng-options="score as score.season_name for score in  season" ng-selected="selected" style="cursor: pointer" id="tvsession">
            <option value="">--Select Season--</option>
             </select>

         </div>
             </div>
        	<div class="move_cvr">
            	<div class="col-sm-3" ng-if="episodes.length>0" ng-repeat="epi in episodes track by $index">
                    
                 	<div class="move_photo" >
                            
                      <img src="{{epi.thumbnail}}">
                       <div class="movie_ovrly">
                            	</div>
                                <a class="mvu_ovrly2">
                              <h4>{{epi.title}}</h4>
                       <p>{{epi.description.substr(0,60)}}</p>
                       <h5>Watch Now</h5>
                       <span class="play_con"><i class="fa fa-play" aria-hidden="true" ng-click="go(epi._id)"></i></span>
                       <div class="cvr_str">
                       <div class="col-sm-5" style="padding-left:0px;">
                       <div class="mv_durtion">
                       <span>1:30:01</span>
                       	</div>
                       	</div>
                        <div class="col-sm-7" style="padding-right:0px;">
                        	<div class="stars_mve">
                                    <ul ng-if="sssss[$index]==='0'">
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                                    <ul ng-if="sssss[$index]==='1'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                                    <ul ng-if="sssss[$index]==='2'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                                    <ul ng-if="sssss[$index]==='3'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                                    <ul ng-if="sssss[$index]==='4'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                            	<ul ng-if="sssss[$index]==='5'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 4)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(epi._id, 5)"></i></li>
                                
                                </ul>
                            	</div>
                        	</div>
                            </div>
                             </a>
                    	</div>
                	</div>
                    <div class="col-sm-12" ng-if="episodes.length<=0">
                        <h1 class="no_dta">NO DATA FOUND</h1>
                    </div>
 
            	</div>
        <button type="submit" ng-if="loadmore===1" ng-click="load()" class="btn btn-default sub_falt flt_gap">Load More</button>
        	</div>
    		</div>
    	</div>
<script>
//    $(document).ready(function(){
//        $('#tvsession option[selected="selected"]').each( 
//            function() { alert("here");
//                $(this).removeAttr('selected');
//            }
//        );
//
//
//// mark the first option as selected
//$("#tvsession option:first").attr('ng-selected','selected');
//    });
</script>
<!--  	</div>main-cover-end--->