
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="smart-container cnt_gp" ng-controller="ForgetCtrl">
    <div class="container">
        <div class="col-sm-12">
            <div class="heading">
                <h1>Forgot Password<span></span></h1>        
            </div>
        </div>
        <div class="container">
            <div class="all-post">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="form-group ">
                                 <p ng-show="message" class="danger" style = "color: red;">{{message}}</p>
                             </div>
                         
                                <div class="login_box_m">
                                <form method="post" ng-submit="forgotpassword(user)" id="forget">
                           
                                <div class="col-sm-12">
                                    <div class="loign_form">                                      
                                        <label>  password  <i>*</i></label>
                                        <span><input type="password" ng-model="user.password" name="password" ></span>
                                    </div>
                                </div>
                                     <div class="col-sm-12">
                                              <div class="loign_form">  
                                        <label>  Confirm Password <i>*</i></label>
                                        <span><input type="password" ng-model="user.confirmpassword" name="ConfirmPassword"></span>
                                              </div>
                                    </div>  
                                 </div>
                                   <input type="submit" name="submit" class="btn defult_btn contin-log lg_sbmt" value="Continue">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
.heading {
    width: 100%;
    float: left;
    text-align: center;
}

.heading h1 {
    color: #000;
    font-size: 32px;
}

.all-post {
    width: 100%;
    float: left;
}

.loign_form {
    width: 100%;
    float: left;
}
.loign_form label {
    float: left;
    width: 30%;
    font-size: 14px;
    margin-bottom: 20px;
}

.loign_form span {
    width: 70%;
    float: left;
}

.lg_sbmt{
    width: auto;
    float: none;
    margin: 0 auto;
    display: table;
    
}
.cnt_gp{
    width:100%;
    float:left;
    margin-top:14%;
    
}

</style>