<ol class="breadcrumb brd_set">
    <li><a href="/movies">Movies</a></li>
    <li class="active">{{movie.title}}</li>        
  </ol>
<!------episode-video-code--------->
 <div class="video_section">
     <video width="100%" height="400px" ng-src="{{movie.video}}" controls controlsList="nodownload"></video>
 	<!--<iframe ng-if="movie_url" width="100%" height="400px" ng-src="{{movie_url}}" frameborder="0" allowfullscreen></iframe>-->
 	</div>
<!--------video-end--------------->

<!----------episode_div-section------------->
<div class="tme_clss">
<div class="container">
	<div class="row">
    <div class="tme_cvr">
    	<div class="col-sm-6">
        	<div class="time_read">
            <img src="/home/img/clck_epsde.png">
            <span>{{movie.movie_duration}}</span>
            	</div>
        	</div>
        
<!--            <div class="col-sm-6">
            <button type="button" class="btn btn-default btn_lgn wtch_rght"><a href="/selectplan"><img class="cmra_st st_lv" src="/home/img/trns_move.png"><span class="wtch_gap">Watch Full Movie</span></a></button>
        	</div>-->
    	</div>
    	</div>
</div>
</div>

<!----------episode-paragraph----------->
<div class="graph_epsode">
<div class="container">
        <div class="detl_heading" >
 <!--<h3>{{res.title}}</h3>-->
 <h3>{{movie.title}}</h3>
	 </div>
    <p >{{movie.description}}</p>
	</div>
   
	</div>
<!-------------end------------------->

