<body>
   <div class="sign_cover">
<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:350px;overflow:hidden;visibility:hidden">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('/home/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:350px;overflow:hidden;">
            <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
            <div>
                <img data-u="image" src="/home/img/movie_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="/home/img/mve_pic2.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>-->
               
                <div style="position:absolute;top:82px;left:259px;width:670px;height:120px;z-index:0;">
                <h4 class="stle_ing">Heading</h4>
                <p class="sldr_cnt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <!--<button type="button" class="btn btn-default btn_lgn"><img class="cmra_st" src="/home/img/trns_move.png"><span class="wtch_gap">Watch Now</span></button>-->
                </div>
                           

            </div>
            <div>
                <img data-u="image" src="/home/img/movie_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="/home/img/mve_pic2.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>-->
               
          <div style="position:absolute;top:82px;left:259px;width:670px;height:120px;z-index:0;">
                <h4 class="stle_ing">Heading</h4>
                <p class="sldr_cnt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <!--<button type="button" class="btn btn-default btn_lgn"><img class="cmra_st" src="/home/img/trns_move.png"><span class="wtch_gap">Watch Now</span></button>-->
                </div>
                           

            </div>
            <div>
                <img data-u="image" src="/home/img/movie_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="/home/img/mve_pic2.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>-->
               
       <div style="position:absolute;top:82px;left:259px;width:670px;height:120px;z-index:0;">
                <h4 class="stle_ing">Heading</h4>
                <p class="sldr_cnt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <!--<button type="button" class="btn btn-default btn_lgn"><img class="cmra_st" src="/home/img/trns_move.png"><span class="wtch_gap">Watch Now</span></button>-->
                </div>
                           

            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
<!--------tv-end--------------->


<div class="movies_section">
	<div class="container">
<!--    <div class="head_tv" ng-repeat="post in movie">
             	<h3>{{post[0].category}}</h3>
             	</div>{{limit}}-->
 <div class="row">
                        <div class="col-sm-4">
                              <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" ng-model="test"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit" ng-click='actorsearch()' id="searchactor" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div> 
                        </div></div>
                        
    <div class="row">
    <div class="col-sm-4" ng-if="(subcatdata == 1 )">
       
    <div class="name_lst">
    	<ul>          
        <!--<li class="active_lst"><a href="#" class="i_icon"><span class="name_acton">ACTION MOVIES</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>-->
        <li ng-repeat="sub in subcat" ng-init="$first && viewsubcat(sub._id)" ng-click="viewsubcat(sub._id)" id="subcat{{sub._id}}" ng-class="{'active_lst': sub == subcat[0]}" class="subcatclass {{sub._id}}"><a  class="i_icon"><span class="name_acton">{{sub.subcategory.toUpperCase()}}</span><i class="fa fa-angl e-right" aria-hidden="true"></i></a></li>

        </ul>
    	</div>
    	</div>
    	<div class="col-sm-8">
        	<div class="move_cvr"> 
                    <div class="col-sm-12" id="moviess" ng-if="movie.length > 0">
                        <div class="col-sm-4" ng-repeat="post in movie | filter : test">
                 	<div class="move_photo">
                      <img src="{{post.thumbnail}}" alt="thumbnail">
                       <div class="movie_ovrly">
                            	</div>
                                <a class="mvu_ovrly2">
                                 <h4>{{post.title}}</h4>
                       <p>{{post.description.substr(0,55)}}</p>
                       <h5>Watch Now</h5>
                       <span class="play_con"><i class="fa fa-play"  aria-hidden="true" ng-click="go(post._id)"></i></span>
                       <div class="cvr_str">
                       <div class="col-sm-5" style="padding-left:0px;">
                       <div class="mv_durtion">
                       <span>1:30:01</span>
                       	</div>
                       	</div>
                        <div class="col-sm-7" style="padding-right:0px;">
                        	<div class="stars_mve">
                                    <ul ng-if="sssss[$index]==='0'">
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                  <ul ng-if="sssss[$index]==='1'">   
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='2'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='3'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='4'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o           " aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                            	 <ul ng-if="sssss[$index]==='5'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                            	</div>
                        	</div>
                            </div>
                        </a>
                    </div>
                        </div>
                </div>
                    
                    <!--<button type="submit"  ng-if="loadmore===1" ng-click="load()" class="btn btn-default sub_falt flt_gap">Load More</button>-->
                   <div class="col-sm-12" ng-if="movie.length <= 0 ">  
                       <h1 class="no_dta">NO DATA FOUND</h1>
                    </div>
            	</div>
        <button type="submit"  ng-if="loadmore===1" ng-click="load()" class="btn btn-default sub_falt flt_gap">Load More</button>
    	</div>
<!--        <div class="col-sm-8">
        	<div class="move_cvr"> 
                    <div class="col-sm-4" id="moviess" ng-if="data.length > 0" ng-repeat="post in data track by $index">
                 	<div class="move_photo">
                      <img src="{{post.thumbnail}}" alt="thumbnail">
                       <div class="movie_ovrly">
                            	</div>
                                <a class="mvu_ovrly2">
                                 <h4>{{post.title}}</h4>
                       <p>{{post.description.substr(0,55)}}</p>
                       <h5>Watch Now</h5>
                       <span class="play_con"><i class="fa fa-play"  aria-hidden="true" ng-click="go(post._id)"></i></span>
                       <div class="cvr_str">
                       <div class="col-sm-5" style="padding-left:0px;">
                       <div class="mv_durtion">
                       <span>1:30:01</span>
                       	</div>
                       	</div>
                        <div class="col-sm-7" style="padding-right:0px;">
                        	<div class="stars_mve">
                                    <ul ng-if="sssss[$index]==='0'">
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                  <ul ng-if="sssss[$index]==='1'">   
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='2'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='3'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                                 <ul ng-if="sssss[$index]==='4'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star-o           " aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                            	 <ul ng-if="sssss[$index]==='5'">
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 1)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 2)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 3)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 4)"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true" ng-click="rate(post._id, 5)"></i></li>
                                
                                </ul>
                            	</div>
                        	</div>
                            </div>
                        </a>
                    </div>
                </div>
                    
                    <button type="submit"  ng-if="loadmore===1" ng-click="load()" class="btn btn-default sub_falt flt_gap">Load More</button>
                   <div class="col-sm-12" ng-if="movie.length <= 0 ">  
                       <h1 class="no_dta">NO DATA FOUND</h1>
                    </div>
            	</div>
        <button type="submit"  ng-if="loadmore===1" ng-click="load()" class="btn btn-default sub_falt flt_gap">Load More</button>
    	</div>-->
    	</div>
	</div>
	</div>
      </div>