<div class="membr_section">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-sm-12" style="padding: 0px;">
            	<div class="mmbr_cvr">
                	<div class="col-sm-3" ng-repeat="member in team" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="{{member.image}}">
                            <div class="over_team">
                            <h4>{{member.name}}</h4>
                            <p>{{member.role}}</p>
                            	</div>
                    	</div>
                	</div>
                    
<!--                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>
                    
                    <div class="col-sm-3" style="padding: 2px;">
                    	<div class="mmbr_serie">
                        	<img src="home/img/team1.jpg">
                            <div class="over_team">
                            <h4>Rahul Das</h4>
                            <p>Project Manager</p>
                            	</div>
                    	</div>
                	</div>-->
                    
            	</div>
        	</div>
    	</div>
	</div>
    </div>