<div class="footer1_section">
	<div class="container">
    	<div class="row">
        <div class="col-sm-3">
              	<div class="fotr_app">
<!--                	<ul>
                    <li><a href="/" class="a_stle">Home</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.springtv&hl=en" target="_blank" class="a_stle">Android App</a></li>
                    <li><a href="#" class="a_stle">iOS App</a></li>

                    </ul>-->
                	</div>
        	      </div>
          
              <div class="col-sm-2">
              	<div class="scial_lst">
<!--                	<ul>
                    <li><a href="https://www.facebook.com/Spring-TV-122690291737628/" target="_blank" class="scial_stle"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/@springtvnig" target="_blank" class="scial_stle"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/tvspring/" target="_blank"  class="scial_stle"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                
                    </ul>-->
                	</div>
        	      </div>
            
            <div class="col-sm-7">
              	<div class="fotr_lst">
<!--                	<ul>
                    <li><a href="/team" class="a_stle">Our Team</a></li>
                    <li><a href="/aboutus" class="a_stle">About Us</a></li>
                    <li><a href="/termsandconditions" class="a_stle">Terms and Condition</a></li>
                    <li><a href="/privacyandpolicy" class="a_stle">Privacy Policy</a></li>
                      <li><a href="/contactus" class="a_stle">Contact Us</a></li>
                     <li><a href="/" class="a_stle">@Spring TV</a></li>
                    </ul>-->
                	</div>
        	      </div>
            
        	</div>
    	</div>
	</div>