<div class="billing-address">
    <div class="container">
        <div class="row">
            <div class="edit">
                <div class="col-sm-12">
                    <h3 class="profile-txt">Your  Plan Payment Status</h3>
                </div>
            </div>
        </div>
        
        <div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="edit_form order_billing">
     <form >
    <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Transaction ID :</label>
 <div class="col-sm-8"><label>{{pay.transactionid}}</label>
</div>
        </div>
         <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Plan ID :</label>
 <div class="col-sm-8"><label>{{pay.planid}}</label>
</div>
        </div>
         <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Plan Name :</label>
 <div class="col-sm-8"><label>{{pay.planname}}</label>
</div>
        </div>
         <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Plan Price :</label>
 <div class="col-sm-8"><label>{{pay.price}}</label>
</div>
        </div>
         <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">User ID :</label>
 <div class="col-sm-8"><label>{{pay.userid}}</label>
</div>
        </div>
         <div class="input-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Status :</label>
 <div class="col-sm-8"><label>{{pay.status}}</label>
</div>
        </div>
<!--<div class="input-group">
  <input type="text" class="form-control" ng-model='currentUser._id' name='movieorepiname' value="readonly">
</div>-->
<div class="input-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Payment Method :</label>
<div class="col-sm-8"><label>{{pay.paymentmethod}}</label>
    </div>
     </div>
 </form>
 </div>
     </div>
        </div>
     
<!--        <div class="grid-acnt">
            <div class="row">
                <div class="account-page">-->
<!--                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Transaction ID :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.transactionid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->

<!--                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Plan ID :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.planid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Plan Name :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.planname}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Plan Price :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">User ID :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.userid}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Status :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--                     <div class="col-sm-12">
                        <div class="account-page">
                            <div class="col-sm-4">
                                <label class="usr_nm">Payment Method :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="name">
                                    <span class="nme_clnt">{{pay.paymentmethod}}</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--                </div>
            </div>
        </div>
       
    </div>   -->