
 <body>
   <div class="sign_cover">
 <!------tv-serial-code--------->
 <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:350px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('home/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:350px;overflow:hidden;">
            <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
            <div>
                <img data-u="image" src="home/img/serial_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="home/img/slidr_abs.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>-->
               
                <div style="position:absolute;top:100px;left:360px;width:480px;height:120px;z-index:0;">
                <h4 class="sial_des">Build your slider with anything, includes image, content</h4>
                <p class="avail_srial">All Episodes</p>
                <p class="avail_srial">Available Now</p></div>
                           

            </div>
            <div>
                <img data-u="image" src="home/img/serial_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="home/img/slidr_abs.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>
               -->
                     <div style="position:absolute;top:100px;left:360px;width:480px;height:120px;z-index:0;">
                <h4 class="sial_des">Build your slider with anything, includes image, content</h4>
                <p class="avail_srial">All Episodes</p>
                <p class="avail_srial">Available Now</p></div>
                           

            </div>
            <div>
                <img data-u="image" src="home/img/serial_sldr.jpg" />
                             <div href="#" class="sral_ovrly">
                            	</div>
                
<!--                <div style="position:absolute;top:100px;left:90px;width:150px;height:150px;z-index:0;font-size:50px;color:#ffffff;line-height:60px; border:1px solid #000; "><img src="home/img/slidr_abs.jpg" class="sldr_pc">
                 <div href="#" class="slipc_ovrly">
                            	</div>
                </div>-->
               
                     <div style="position:absolute;top:100px;left:360px;width:480px;height:120px;z-index:0;">
                <h4 class="sial_des">Build your slider with anything, includes image, content</h4>
                <p class="avail_srial">All Episodes</p>
                <p class="avail_srial">Available Now</p></div>
                           

            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
     </div>
<!--------tv-end--------------->

<!----------tv_div-section------------->
 
<div class="tv_section">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-4">
                              <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" ng-model="serial.serialsearch"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit" id="searchserial" ng-click='serialsearch()'>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div> 
                        </div>
                        <div class="col-sm-8">
             <div class="head_tv">
             	<h3>TV Series</h3>
             </div></div></div>
            	<div class="tv_wrp" id="serial">
                	<div class="col-sm-3" ng-repeat="serial in serials">
                    	<div class="tv_lyer">
                        	<img src="{{serial.thumbnail}}">
                              <a href="/episode/{{serial._id}}/{{season._id}}" class="tv_ovrly">
                            	</a>
                            </div>
                    	</div>
                	</div>
                    
                    <div class="tv_wrp" ng-if="data">
                	<div class="col-sm-3" ng-repeat="serial in data.serial">
                    	<div class="tv_lyer">
                        	<img src="{{serial.thumbnail}}">
                              <a href="/episode/{{serial._id}}/{{season._id}}" class="tv_ovrly">
                            	</a>
                            </div>
                    	</div>
                	</div>
                    
            	</div>
        	</div>
      <button type="submit"  ng-if="loadmore===1" ng-click="load()"class="btn btn-default sub_falt flt_gap">Load More</button>    
    	</div>
	</div>
  	<!--main-cover-end--->
        
 <script src="home/js/jssor.slider-22.1.9.mini.js"></script>
     <script type='text/javascript'>
   
     jQuery(document).ready(function ($) { 
        

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
        });
        </script>



     
     