<!doctype html>
<!-- <html lang="en" ng-app='fwrk.home' ng-controller="MainCtrl"> -->
<html lang="en" ng-app='fwrk.home' ng-controller="VideoCatCtrl">
    <head>
        <meta charset="utf-8">
        <title>Optatu</title>
        <meta name="description" content="ghost clone javascript blog node.js angular.js">
        <meta name="author" content="Connor Leech">
        <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval';">-->
<link href="/home/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/home/font-awesome/css/font-awesome.min.css" rel="stylesheet">
          <link href="/home/css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Main Content -->
         <div class="sign_cover">
        <div ng-include='"/home/templates/headersss.html"'></div>
        <div ng-include='"/home/templates/movie.html"'></div>
         </div>
        <div ng-include='"/home/templates/footer_secondry_1.html"'></div>
        
         <script src="/home/js/jquery-1.11.3.min.js"></script>
          <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- UI Router -->
               <script src="https://cdn.jsdelivr.net/npm/angular-ui-router@0.4.3/release/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
        
        <!-- Custom JS -->
        <script src='/home/js/app.js'></script>
        <script src='/home/js/controllers/user.js'></script>
        <script src='/home/js/controllers/video.js'></script>
         <script src='/home/js/controllers/serial.js'></script>
          <script src='/home/js/controllers/news.js'></script>
           <script src='/home/js/controllers/team.js'></script>
           <script src='/common/modules/orders.js'></script>
          <script src='/common/modules/teams.js'></script>
         <script src='/common/modules/news.js'></script>
          <script src='/common/modules/actors.js'></script>
          <script src='/home/js/controllers/page.js'></script>
          <script src='/home/js/controllers/plan.js'></script>
            <script src='/common/modules/pages.js'></script>
        <script src='/common/modules/users.js'></script>
          <script src='/common/modules/plans.js'></script>
           <script src='/common/modules/payments.js'></script>
            <script src='/common/modules/rates.js'></script>
           <script src='/common/modules/paymentstatus.js'></script>
          <script src='/common/modules/videos.js'></script>
          <script src='/common/modules/serials.js'></script>
                     <script src='/common/modules/seasons.js'></script>
                     <script src='/common/modules/categories.js'></script>
                <script src='/common/modules/subcategory.js'></script>
 <script src='/common/modules/episodes.js'></script>

 <!--     jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--     Include all compiled plugins (below), or include individual files as needed -->
        <script src="/home/js/bootstrap.min.js"></script>

         <script src="/home/js/jquery-1.11.3.min.js"></script>
         
          <script src="/home/js/jssor.slider-22.1.9.mini.js"></script>
     <script type='text/javascript'>
   
     jQuery(document).ready(function ($) { 
        setTimeout(function(){ 

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
            
          //  $('.name_lst ul li:first').addClass('active_Ist2222');
            }, 3000);
        });
    

        </script>
         
         
<script type='text/javascript'>
    
        var currentUser = <%- JSON.stringify(user); %> ;
        app.run(function($rootScope) {
            $rootScope.currentUser = currentUser;
            console.log($rootScope.currentUser);
        });
       </script>
  	<!--main-cover-end--->
<!-- <script>
            setTimeout(function(){ 
                jQuery(document).ready(function ($) {
                $("#searchmovie").click(function()
                    {
                        $("#moviess").hide();         
            console.log("done")
                    })
            })
                }, 3000);
        </script>
    -->
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a437e9af4461b0b4ef8ad1f/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    </body>
</html>